<div class="bookedit">
  <h2>User info</h2>

  <%= form_with model: @user, url:"/users/#{@user.id}", local:true do |f| %>
    <div class="bookedit2">Name</div>
    <div class="bookedit3"><%= f.text_field :name, :size => "55*30" %></div>
    <div class="">Image</div>
    <div><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></div>
    <div class="bookedit4">Introduction</div>
    <div class="bookedit5"><%= f.text_area :introduction, :size => "54*30" %></div>
    <%#= f.submit 'Update User' %>
    <input type="submit" name="commit" value="Update User" class="btn btn-secondary" data-disable-with="Update User">
  <% end %>
</div>