
<div class="top">
  <div class="top1">
    <p class="top1-1">welcome to</p>
    <p><i class="fas fa-book"></i></p>
    <b class="top1-2">Bookers</b>
    <p>!!</p>
  </div>
  <div class="top2">
    <p class="top2-1">In</p>
    <p><i class="fas fa-book"></i></p>
    <b>Bookers,</b>
  </div>
  <div class="top3">you can share and exchange your opinions , inpressions , and emotions</div>
  <div>about various books!</div>

  <div class="top4">
    <div class="top4-1">
      <%= link_to 'Log in', new_user_session_path, class: "btn btn-info btn-sm btn-block" %>
    </div>
    <div class="top4-2">
      <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success btn-sm btn-block" %>
    </div>
  </div>
</div>