/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  margin: 0 auto;
  width: 530px;
  
}
.top1 {
  height: 70px;
  line-height: 70px;
  font-size: 40px;
  display: flex;
}
.top1-1 {
 margin-right: 8px;
}
.top1-2 {
 margin-right: 8px;
}
.top2 {
  height: 40px;
  display: flex;
}
.top2-1 {
 margin-right: 5px;
}
.top3 {
 height: 40px;
}
.top4 {
  width: 85%;
  margin: 0 auto;
}
.top4-1,
.top4-2 {
  text-align: center;
  margin-top: 16px;
}

.about {
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.about1 {
  margin-right: 8px;
}

.login,
.signup {
  width: 79%;
  margin: 15px auto;
}

footer {
  text-align: center;
  height: 115px;
  line-height: 115px;
}

.link {
  text-decoration: none;
  color: white;
}